body {
  margin-top: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

p {
  margin: 5px;
}

.word {
  font-size: 70px;
}

.sep {
  font-size: 40px;
  margin-top: 20px;
}

#intro {
  margin-top: 0px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#reload {
  color: black;
  background: none;
  border: none;
  width: 30px;
  margin-top: 20px;
  padding: 0px;
}

#reload:hover {
  cursor: pointer;
}

#relicon {
  animation: rotating 2s linear infinite;
  animation-play-state: paused;
}

#reload:hover>#relicon, #reload:focus>#relicon {
  animation-play-state: running;
}