html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: fit-content;
  max-width: 100%;
  min-width: min-content;
  height: 100%;
  overflow: auto;
  margin: auto;
  padding: 30px 15px;
  box-sizing: border-box;
}

a, p {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  color: blue;
}

.word, .sep {
  margin: 5px;
}

.word {
  font-size: 70px;
}

.sep {
  font-size: 40px;
  margin-top: 20px;
}

#intro {
  margin-top: 0px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sticky {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#reload {
  color: black;
  background: none;
  font: inherit;
  width: max-content;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  max-height: min-content;
}

#reload:hover {
  cursor: pointer;
}

#reltext {
  font-size: 25px;
  margin: auto 0;
  display: inline-block;
}

#relicon {
  width: 30px;
  animation: rotating 2s linear infinite;
  animation-play-state: paused;
}

#reload:hover>#relicon, #reload:focus>#relicon {
  animation-play-state: running;
  color: blue;
}

#qed {
  width: 100%;
  text-align: right;
  padding-top: 10px;
}

@media (width < 80rem) { 
  .word {
    font-size: 60px;
  }
  .sep {
    font-size: 35px;
  }
}

@media (width < 60rem) { 
  .word {
    font-size: 50px;
  }
  .sep {
    font-size: 30px;
  }
}

@media (width < 40rem) { 
  .word {
    font-size: 40px;
  }
  .sep {
    font-size: 25px;
  }
  .content {
    padding: 20px 10px;
  }
}