body {
  margin: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin: auto;
}

a, p {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  color: blue;
}

.word, .sep {
  margin: 5px;
}

.word {
  font-size: 70px;
}

.sep {
  font-size: 40px;
  margin-top: 20px;
}

#intro {
  margin-top: 0px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#reload {
  color: black;
  background: none;
  font: inherit;
  width: max-content;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

#reload:hover {
  cursor: pointer;
}

#reltext {
  font-size: 25px;
  margin: auto 0;
  display: inline-block;
}

#relicon {
  width: 30px;
  animation: rotating 2s linear infinite;
  animation-play-state: paused;
}

#reload:hover>#relicon, #reload:focus>#relicon {
  animation-play-state: running;
  color: blue;
}

#qed {
  width: 100%;
  text-align: right;
  padding-top: 10px;
}