html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.proof {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: fit-content;
  max-width: 100%;
  min-width: min-content;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
}

a, p {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  color: blue;
}

.word, .sep {
  margin: 5px;
}

.word {
  font-size: 70px;
}

.sep {
  font-size: 40px;
  margin-top: 20px;
}

#intro {
  margin-top: 0px;
}

#qed {
  width: 100%;
  text-align: right;
  padding-top: 10px;
}

#qedicon {
  width: 25px;
  display: inline-block;
}

#sticky {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

button {
  color: black;
  background: none;
  font: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

svg {
  display: block;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#reload {
  width: max-content;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  max-height: min-content;
}

#reload:hover {
  cursor: pointer;
}

#reltext {
  font-size: 20px;
  margin: auto 0;
  display: inline-block;
}

#relicon {
  width: 30px;
  animation: rotating 2s linear infinite;
  animation-play-state: paused;
}

#reload:hover>#relicon, #reload:focus>#relicon {
  animation-play-state: running;
  color: blue;
}

#share {
  margin: 12px;
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 150%;
  visibility: hidden;
}

.show {
  visibility: visible;
}

#shareicon {
  min-width: 25px;
  min-height: 25px;
}

#shareicon:hover {
  cursor: pointer;
  color: blue;
  display: block;
}

#githubicon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 12px;
}

@media (width < 80rem) { 
  .word {
    font-size: 60px;
  }
  .sep {
    font-size: 35px;
  }
}

@media (width < 60rem) { 
  .word {
    font-size: 50px;
  }
  .sep {
    font-size: 30px;
  }
}

@media (width < 40rem) { 
  .word {
    font-size: 40px;
  }
  .sep {
    font-size: 25px;
  }
  .content {
    padding: 10px;
  }
  #qedicon {
    width: 20px;
  }
}