doctype html
html(lang="en")
  head
    title Proof is Trivial!
    script const data = !{data_str};
    script(src='/index.js' defer)
    link(rel='stylesheet' href='/index.css')
  body(style="display:flex; flex-direction:column; text-align:center")
    p#intro Proof is trivial!
    p#adj1
    p#noun1
    p#elemof whose elements are
    p#adj2
    p#noun2