doctype html
html(lang="en")
  head
    title Proof is Trivial!
    script const data = !{data_str};
    script(src='/index.js' defer)
    link(rel='stylesheet' href='/index.css')
  body
    .content
      p#intro.sep Proof is trivial!
      p#adj1.word
      p#noun1.word
      p#elemof.sep whose elements are
      p#adj2.word
      p#noun2.word